<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>

	  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	  <add key="NuGet-NetCore" value="https://pkgs.dev.azure.com/AlexsysDev/PPN/_packaging/NUGET-NETCORE-PPN/nuget/v3/index.json" protocolVersion="3" />
	  <add key="NuGet-NetCore-Old" value="https://pkgs.dev.azure.com/AlexsysFoundations/_packaging/NuGet-NetCore/nuget/v3/index.json" protocolVersion="3" />
	  <add key="NuGet-NetCore-Ekram" value="https://pkgs.dev.azure.com/hafifi0336/AlexsysFoundations/_packaging/NuGet-NetCore/nuget/v3/index.json" />
  </packageSources>
	<packageSourceCredentials>
		
		<NuGet-NetCore>
			<add key="Username" value="your-username" />
			<add key="ClearTextPassword" value="o62lix6lx5vikmwonywjf2bolqursumpjnocos7jcstfmb77f3ea" />			
		</NuGet-NetCore>
		<NuGet-NetCore-Ekram>
			<add key="Username" value="your-username" />
			<add key="ClearTextPassword" value="hlbqvxdpzkyml4bpoitebvwiwguphrwb4iro2osnl4pv73gdvrza" />
		</NuGet-NetCore-Ekram>
		<NuGet-NetCore-Old>
			<add key="Username" value="your-username" />
			<add key="ClearTextPassword" value="x7zir5casb3odeanj5odra7svkxcgaoqpwur3vffka3upvqzw5rq" />
		</NuGet-NetCore-Old>
	</packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <disabledPackageSources>
    <add key="NuGet-NetCore" value="true" />
    <add key="NuGet-NetCore-Old" value="true" />
    <add key="NuGet-NetCore-Ekram" value="true" />
  </disabledPackageSources>
</configuration>

